<!DOCTYPE html>
<html lang="{{ site.language_code }}">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{% block title %}{{ meta.title }} | {{ site.title }}{% endblock %}</title>
    <meta content="{{ meta.description | default(value=site.description) }}" name="description">
    <link href="{{ site.base_url }}{{ current_url }}" rel="canonical">

    <meta content="article" property="og:type">
    <meta content="{{ meta.title }}" property="og:title">
    <meta content="{{ meta.description | default(value=site.description) }}" property="og:description">
    <meta content="{{ site.base_url }}{{ current_url }}" property="og:url">
    <meta content="{{ site.title }}" property="og:site_name">

    <meta content="summary_large_image" name="twitter:card">
    <meta content="{{ meta.title }}" name="twitter:title">
    <meta content="{{ meta.description | default(value=site.description) }}" name="twitter:description">
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
<header>
    <nav class="container">
        <a class="logo" href="/"><strong>{{ site.title }}</strong></a>
        <div class="links">
            {% for item in site.menu %}
            <a href="{{ item.url }}">{{ item.name }}</a>
            {% endfor %}
        </div>
    </nav>
</header>

<main class="container">
    {% block content %}{% endblock %}
</main>

<footer class="container">
    <p>&copy; 2026 {{ site.author.name }}. Powered by Rust.</p>
</footer>
</body>
</html>