<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{% block title %}My blog{% endblock %}</title>
    <link href="/static/style.css" rel="stylesheet">
    <meta content="Rust Static Site Generator" name="description">
</head>
<body>
<header>
    <nav class="container">
        <a class="logo" href="/">My<strong>Blog</strong></a>
        <div class="links">
            <a href="/">Home</a>
            <a href="/about/">About</a>
        </div>
    </nav>
</header>

<main class="container">
    {% block content %}{% endblock %}
</main>

<footer class="container">
    <p>&copy; 2026 Powered by Rust SSG</p>
</footer>
</body>
</html>
