{% extends "base.html" %}

{% block title %}首頁 - 我的部落格{% endblock %}

{% block content %}


<article class="post-content">
    <div class="post-content">
        {{ content | safe }}
    </div>
</article>
<section class="post-list">
    <h2>Posts</h2>
    <ul>
        {% for post in posts %}
        <li class="post-item">
            <span class="post-date">{{ post.meta.date }}</span>
            <a class="post-link" href="{{ post.url }}">{{ post.meta.title }}</a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}